.active {
  border-bottom: 4px solid #169616;
  transition: all 0.2s;
}
* {
  font-family: Cera Pro;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 25px 120px;
  
}
